[Desktop Entry]
Version=1.0
Type=Application
Name=Fruit Ninja
Comment=Fruit Ninja
Exec=sh -c "cd %k/ninja; python ninja.py"
Icon=%k/icon.png
Terminal=true