[Desktop Entry]
Version=1.0
Type=Application
Name=Flappy Bird
Comment=Flappy Bird
Exec=sh -c "cd %k/bird; python flappy.py
Icon=%k/icon.png
Terminal=true