[Desktop Entry]
Version=1.0
Type=Application
Name=Paint
Comment=A simple paint application for kids
Exec=sh -c "cd %k/paint; python paint.py"
Icon=%k/icon.svg
Terminal=true